* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(228, 227, 161);
  font-family: monospace;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  padding: 6rem 0;
}

.sub-heading {
  font-size: 1rem;
  font-weight: bold;
}

#input-field {
  font-size: 1.5rem;
  text-align: center;
  font-family: monospace;
}

.container {
  position: relative;
  right: 35px;
  height: 400px;
  width: 590px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0 30rem;

  .inputs {
    border-right: #333 solid 1px;

    button {
      height: 30px;
      width: 30px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #ddd;
        border: none;
      }
    }

    .bill {
      input {
        display: block;
        width: 15.6rem;
        margin-bottom: 1rem;
        height: 30px;
        border-radius: 5px;
      }
    }

    .tip-percentage {
      margin-bottom: 1rem;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding-left: 2rem;

    div {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
    }
  }

  .btn {
    display: grid;
    grid-column: span 2;

    .submit-btn {
      font-family: monospace;
      height: 40px;
      border-radius: 5px;
      font-size: 1.5rem;

      &:hover {
        background-color: #ddd;
        border: none;
        cursor: pointer;
      }
    }
  }
}
